<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form action="/spam" method="post">
        Game Pin: <input type="text" name="game_pin"/> <br>
        Name: <input type="text" name="user_name"/> <br>
        How many: <input type="text" name="quantity"/> <br>
        <input type="submit" name="form" value="Submit"/>
    </form>
</body>
</html>